* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: url(https://pixabay.com/get/52e6d5464852af14f6d1867dda6d49214b6ac3e45659704c7c2c72d690/uav-4605203_1920.jpg);
    z-index: -1;
}

.sentence {
    min-height: 100vh;
    max-width: 900px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: white;

}

.sentence p {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}